@import "tailwindcss";

@theme {
    --color-primary: #CC0000;
    --color-sky-500: #0ea5e9;
    --color-sky-600: #0284c7;
    --color-slate-900: #0f172a;
    --color-slate-950: #020617;
    --color-background-light: #F8F8F8;
    --color-background-dark: #0A0A0A;
    --color-accent-dark: #1A1A1A;

    --font-family-display: Outfit, sans-serif;
    --font-family-sans: Inter, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #020617;
    /* slate-950 */
    min-height: 100vh;
    color: #ffffff;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.95) translateY(20px);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-scaleIn {
    animation: scaleIn 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}